<div class="content">
    <header class="header">
		<div class="container">
			<div class="header-wrap">
				<a href="/" class="header-wrap__logo">
					<img src="/template/img/logo.svg" alt="">
				</a>
				<div class="burger-wrap">
                    <div class="burger"></div>
                </div>
				<ul class="header-wrap__navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/products">Menu</a></li>
					<li><a href="/articles">Blog</a></li>
				</ul>
				<div class="header-wrap__icons">
					<a href="">
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M39.9375 30.2344L38.1211 38.1094C37.8659 39.2227 36.8875 40.0016 35.7414 40.0016C16.0312 40 0 23.9688 0 4.25781C0 3.1125 0.778828 2.13281 1.89219 1.87891L9.76719 0.0625021C10.9141 -0.203279 12.0859 0.392033 12.5625 1.47813L16.1969 9.95469C16.6217 10.9531 16.3352 12.1164 15.4953 12.8023L11.2891 16.1797C13.9438 21.5875 18.3406 25.9844 23.75 28.6406L27.1937 24.4375C27.8725 23.5953 29.0445 23.3039 30.043 23.7363L38.5195 27.3699C39.5391 27.9063 40.2031 29.0938 39.9375 30.2344Z" fill="white"/>
						</svg>							
					</a>
					<a href="/order">
						<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.0508 16.9188C13.9789 16.9188 14.7321 16.1656 14.7321 15.2375V8.68011C14.7321 5.74863 17.1172 3.36275 20.0486 3.36275C22.9801 3.36275 25.366 5.74863 25.366 8.68011V15.2375C25.366 16.1656 26.1184 16.9188 27.0474 16.9188C27.9755 16.9188 28.7288 16.1656 28.7288 15.2375V8.68011C28.7296 3.89407 24.8355 0 20.0486 0C15.2635 0 11.3694 3.89407 11.3694 8.68011V15.2375C11.3694 16.1656 12.1226 16.9188 13.0508 16.9188Z" fill="white"/>
							<path d="M39.3358 13.1408H30.4111V15.2375C30.4111 17.092 28.9029 18.6002 27.0483 18.6002C25.1937 18.6002 23.6856 17.092 23.6856 15.2375V13.1408H16.4144V15.2375C16.4144 17.092 14.9062 18.6002 13.0517 18.6002C11.1971 18.6002 9.68894 17.092 9.68894 15.2375V13.1408H0.664152C0.200092 13.1408 -0.0865828 13.5065 0.0235473 13.9571L5.90668 37.9142C6.26145 39.261 7.67885 40.353 9.07103 40.353H30.9289C32.3228 40.353 33.7385 39.261 34.095 37.9142L39.9764 13.9571C40.0865 13.5057 39.8007 13.1408 39.3358 13.1408Z" fill="white"/>
						</svg>							
					</a>
				</div>
			</div>
		</div>
	</header>
	<section class="welcome">
		<div class="container">
			<div class="welcome__text">
				<div class="welcome__title">
					NAME OF
					<span>RESTORANT</span>
				</div>
				<div class="welcome__description">
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like.
				</div>
				<div class="welcome__btn-wrap">
					<a href="/products" class="btn">Menu</a>
				</div>
			</div>
		</div>
	</section>
	<section class="dishes">
		<div class="container">
			<div class="dishes-wrap">
				<div class="dishes-text">
					<div class="dishes-text__title title-l">Our dishes</div>
					<div class="dishes-text__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like.</div>
					<div class="dishes-categories">
						<a href="" class="dishes-categories__wrap">
							<div class="dishes-categories__item">
								<div class="dishes-categories__img">
									<img src="/template/img/category.png" alt="">
								</div>
								<div class="dishes-categories__text">
									CATEGORI OF FOOD
								</div>
							</div>
						</a>
						<a href="" class="dishes-categories__wrap">
							<div class="dishes-categories__item">
								<div class="dishes-categories__img">
									<img src="/template/img/category.png" alt="">
								</div>
								<div class="dishes-categories__text">
									CATEGORI OF FOOD
								</div>
							</div>
						</a>
						<a href="" class="dishes-categories__wrap">
							<div class="dishes-categories__item">
								<div class="dishes-categories__img">
									<img src="/template/img/category.png" alt="">
								</div>
								<div class="dishes-categories__text">
									CATEGORI OF FOOD
								</div>
							</div>
						</a>
						<a href="" class="dishes-categories__wrap">
							<div class="dishes-categories__item">
								<div class="dishes-categories__img">
									<img src="/template/img/category.png" alt="">
								</div>
								<div class="dishes-categories__text">
									CATEGORI OF FOOD
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="dishes-img">
					<img src="/template/img/dishes.png" alt="">
				</div>
			</div>

			<!-- REPLACE CATEGORY FOR MOBILE -->

			<div class="dishes-categories dishes-categories--mobile">
				<a href="" class="dishes-categories__wrap">
					<div class="dishes-categories__item">
						<div class="dishes-categories__img">
							<img src="/template/img/category.png" alt="">
						</div>
						<div class="dishes-categories__text">
							CATEGORI OF FOOD
						</div>
					</div>
				</a>
				<a href="" class="dishes-categories__wrap">
					<div class="dishes-categories__item">
						<div class="dishes-categories__img">
							<img src="/template/img/category.png" alt="">
						</div>
						<div class="dishes-categories__text">
							CATEGORI OF FOOD
						</div>
					</div>
				</a>
				<a href="" class="dishes-categories__wrap">
					<div class="dishes-categories__item">
						<div class="dishes-categories__img">
							<img src="/template/img/category.png" alt="">
						</div>
						<div class="dishes-categories__text">
							CATEGORI OF FOOD
						</div>
					</div>
				</a>
				<a href="" class="dishes-categories__wrap">
					<div class="dishes-categories__item">
						<div class="dishes-categories__img">
							<img src="/template/img/category.png" alt="">
						</div>
						<div class="dishes-categories__text">
							CATEGORI OF FOOD
						</div>
					</div>
				</a>
			</div>


			<div class="dishes__btn">
				<a href="/products" class="btn">ALL DISHES</a>
			</div>
		</div>
	</section>
	<section class="restaurant">
		<div class="container">
			<div class="restaurant-wrap">
				<div class="restaurant-text__title--mobile title-l">
					Our restourant
				</div>
				<div class="restaurant-slider">
					<div class="restaurant-slider__wrap">
						<div class="restaurant-slider__img">
							<img src="/template/img/slider/1.png" alt="">
						</div>
						<div class="restaurant-slider__img">
							<img src="/template/img/slider/2.png" alt="">
						</div>
						<div class="restaurant-slider__img">
							<img src="/template/img/slider/3.png" alt="">
						</div>
						<div class="restaurant-slider__img">
							<img src="/template/img/slider/1.png" alt="">
						</div>
					</div>
				</div>
				<div class="restaurant-text">
					<div class="restaurant-text__title title-l">
						Our restourant
					</div>
					<div class="restaurant-text__description">
						<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
						as opposed to using 'Content here, content here', making it look like.</p>
						<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like.</p>
					</div>
					<div class="restaurant-advantages">
						<div class="restaurant-advantages__wrap">
							<div class="restaurant-advantages__item">
								<div class="restaurant-advantages__img">
									
								</div>
								<div class="restaurant-advantages__text">
									<div class="restaurant-advantages__title">
										Edvanteges
									</div>
									<div class="restaurant-advantages__description">
										loado’askdosad’fmadsfmsad; kmdsa;kf mads; mfads;k mfdas;loado’askdosad’fmads
									</div>
								</div>
							</div>
						</div>
						<div class="restaurant-advantages__wrap">
							<div class="restaurant-advantages__item">
								<div class="restaurant-advantages__img">
									
								</div>
								<div class="restaurant-advantages__text">
									<div class="restaurant-advantages__title">
										Edvanteges
									</div>
									<div class="restaurant-advantages__description">
										loado’askdosad’fmadsfmsad; kmdsa;kf mads; mfads;k mfdas;loado’askdosad’fmads
									</div>
								</div>
							</div>
						</div>
						<div class="restaurant-advantages__wrap">
							<div class="restaurant-advantages__item">
								<div class="restaurant-advantages__img">
									
								</div>
								<div class="restaurant-advantages__text">
									<div class="restaurant-advantages__title">
										Edvanteges
									</div>
									<div class="restaurant-advantages__description">
										loado’askdosad’fmadsfmsad; kmdsa;kf mads; mfads;k mfdas;loado’askdosad’fmads
									</div>
								</div>
							</div>
						</div>
						<div class="restaurant-advantages__wrap">
							<div class="restaurant-advantages__item">
								<div class="restaurant-advantages__img">
									
								</div>
								<div class="restaurant-advantages__text">
									<div class="restaurant-advantages__title">
										Edvanteges
									</div>
									<div class="restaurant-advantages__description">
										loado’askdosad’fmadsfmsad; kmdsa;kf mads; mfads;k mfdas;loado’askdosad’fmads
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="blog">
		<div class="container">
			<div class="blog__title title-l">
				Blog
			</div>
			<div class="blog-wrapper">
				<a href="" class="blog-wrapper__wrap">
					<div class="blog-wrapper__item">
						<div class="blog-wrapper__img">
							<img src="/template/img/blog/1.png" alt="">
						</div>
						<div class="blog-wrapper__title">
							Name for this article
						</div>
						<div class="blog-wrapper__description">
							The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like....
						</div>
					</div>
				</a>
				<a href="" class="blog-wrapper__wrap">
					<div class="blog-wrapper__item">
						<div class="blog-wrapper__img">
							<img src="/template/img/blog/2.png" alt="">
						</div>
						<div class="blog-wrapper__title">
							Name for this article
						</div>
						<div class="blog-wrapper__description">
							The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like....
						</div>
					</div>
				</a>
			</div>
			<div class="blog__btn">
				<a href="/articles" class="btn">
					ALL ARTICLES
				</a>
			</div>
		</div>
	</section>
	<section class="contacts">
		<div class="container">
			<div class="contacts-links__title title-l">
				Contacts
			</div>
			<div class="contacts-wrap">
				<div class="contacts-links">
					
					<a href="" class="contacts-links__link">
						<img src="/template/img/icons/phoner.svg" alt="">
						<span>+380 836547145</span>
					</a>
					<a href="" class="contacts-links__link">
						<img src="/template/img/icons/mail.svg" alt="">
						<span>@examplemail@gmail.com</span>
					</a>
					<a href="" class="contacts-links__link">
						<img src="/template/img/icons/telegram.svg" alt="">
						<span>@KpRestorNich</span>
					</a>
					<a href="" class="contacts-links__link">
						<img src="/template/img/icons/instagram.svg" alt="">
						<span>@re_st_or_an__kp01</span>
					</a>
					<a href="" class="contacts-links__link">
						<img src="/template/img/icons/loc.svg" alt="">
						<span>Kamianets-Podilskyi, Khmelnytskyi region, 32301</span>
					</a>
				</div>
				<div class="contacts-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d4429.768598233525!2d26.58656128502038!3d48.68720268417238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDjCsDQxJzE0LjkiTiAyNsKwMzUnMDEuNiJF!5e0!3m2!1suk!2sua!4v1705059774225!5m2!1suk!2sua" width="1291" height="651" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</section>
</div>
<footer class="footer">
	<div class="container">
		<div class="footer-wrap">
			<div class="footer-wrap__item footer-wrap__item--logo">
				<img src="/template/img/logo.svg" alt="">
			</div>
			<div class="footer-wrap__item footer-wrap__item--links">
				<div class="footer-wrap__item-link">
					<p>Links</p>
					<a href="">First link for sec</a>
					<a href="">First link for sec</a>
					<a href="">First link for sec</a>
				</div>
				<div class="footer-wrap__item-link">
					<p>Links</p>
					<a href="">First link for sec</a>
					<a href="">First link for sec</a>
					<a href="">First link for sec</a>
				</div>
				<div class="footer-wrap__item-link">
					<p>Links</p>
					<a href="">First link for sec</a>
					<a href="">First link for sec</a>
					<a href="">First link for sec</a>
				</div>
			</div>
			<div class="footer-wrap__item footer-wrap__item--socials">
				<a href="">
					<img src="/template/img/icons/mail.svg" alt="">
					<span>@examplemail@gmail.com</span>
				</a>
				<a href="">
					<img src="/template/img/icons/phoner.svg" alt="">
					<span>+380 836547145</span>
				</a>
				<a href="">
					<img src="/template/img/icons/telegram.svg" alt="">
					<span>@KpRestorNich</span>
				</a>
				<a href="">
					<img src="/template/img/icons/instagram.svg" alt="">
					<span>@re_st_or_an__kp01</span>
				</a>
			</div>
		</div>
	</div>
</footer>

<!--{% for product in top_products %}
	<h1>{{{product.name}}}</h1>
	<img src="{{{product.thumb}}}" alt="{{{product.name}}}">
{% endfor %}
{% for product in products %}
	<h1>{{{product.name}}}</h1>
	<img src="{{{product.thumb}}}" alt="{{{product.name}}}">
{% endfor %}
{% for article in articles %}
	<h1>{{{article.name}}}</h1>
	<img src="{{{article.thumb}}}" alt="{{{article.name}}}">
{% endfor %}
-->