.articles{
	&-wrap{
		&__item{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 2px solid rgba(217,217,217,.1);
			display: block;
		}
		&__img{
			img{
				border-radius: 30px;
				width: 100%;
				height: 200px;
				object-fit: cover;
			}
		}
		&__title{
			font-size: 28px;
			color: #E83126;
			padding: 15px 0 5px 0;
		}
		&__description{
			font-size: 18px;
			line-height: 28px;
			color: $white;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -moz-box;
			-moz-box-orient: vertical;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			line-clamp: 3;
			box-orient: vertical;
		}
		&-heart{
			display: flex;
			align-items: center;
			font-size: 16px;
			padding-top: 5px;
			color: #fff;
			transition: all .3s;
			width: fit-content;
			&:hover{
				.articles-wrap-heart__img svg{
					fill:$red;
				}
			}
			&__img{
				display: flex;
				margin-right: 5px;
				svg{
					transition: all .3s;
				}
			}
		}
	}
}

/* article */
.article{
	&__title{
		padding: 0 0 20px 0;
		color: $red;
		font-size: 30px;
	}
	&__img{
		img{
			max-width: 450px;
			max-height: 300px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
		}
	}
	&-more{
		display: flex;
		flex-flow: row wrap;
		&__item{
			flex: 0 0 33.333%;
			max-width: 33.333%;
			padding: 0 30px;
			margin-bottom: 20px;
		}
		&__img{
			img{
				border-radius: 20px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__title{
			font-size: 22px;
    		padding: 15px 0 10px 0;
			color: $red;
		}
		&__description{
			font-size: 16px;
			line-height: 24px;
			color: #fff;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -moz-box;
			-moz-box-orient: vertical;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			line-clamp: 3;
			box-orient: vertical;
		}
	}
	&-advantages{
		display: flex;
		flex-flow: row wrap;
		&__item{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			margin: 0 20px 10px 0;
			&:last-child{
				margin-right: 0;
			}
		}
		&__img{
			flex: 0 0 15px;
			width: 15px;
			height: 15px;
			border-radius: 120px;
			background: rgba(189, 38, 29, 0.52);
			margin-right: 5px;
		}
		&__title{
			font-size: 18px;
			flex: 1 0;
		}
	}
}


@media screen and (max-width: 1199px) {
	.article-more__item {
		padding: 0 20px;
	}
	.article__img img {
		max-width: 350px;
		max-height: 260px;
	}
	.article__description{
		font-size: 18px;
	}
	.article-more__item {
		padding: 0 20px;
	}
}
@media screen and (max-width: 991px) {
	.article__title {
		padding: 0 0 15px 0;
		color: #e83126;
		font-size: 26px;
	}
	.article__img img {
		max-width: 300px;
		max-height: 240px;
	}
	.article-more__item {
		padding: 0 15px;
	}
}
@media screen and (max-width: 767px) {
	.article-more__item {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 479px) {
	.articles-wrap__img img {
		border-radius: 20px;
		width: 100%;
		height: 150px;
		object-fit: cover;
	}
	.articles-wrap__title {
		font-size: 20px;
	}
	.articles-wrap__description {
		font-size: 16px;
		line-height: 24px;
	}
	.article__description {
		font-size: 16px;
	}
	.article__img img {
		max-width: 250px;
		max-height: 200px;
	}
	.product-more__main-title {
		font-size: 26px;
		padding: 20px 0;
	}
	.article-more__title {
		font-size: 18px;
	}
	.article-more__description {
		font-size: 14px;
		line-height: 20px;
	}
	.article-more__item{
		padding: 0 5px;
	}
}